@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Raleway&family=Roboto&display=swap");

/*
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
*/

body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

h1 {
    color: #222 !important;
    font-family: "Oswald", sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: "Oswald", sans-serif;
    color: #dc3545 !important;
}

a {
    font-weight: 300;
    text-decoration: none !important;
    color: inherit;
}

a div {
    color: #222 !important;
}

a div:hover {
    color: #dc3545 !important;
}

p {
    font-weight: 300;
}

.max-items {
    height: 300px;
    overflow: scroll;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 20px;
}
